{% load static %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% get_static_prefix %}bootstrap.css" type="text/css" media="all" />
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url 'main_page' %}">My Profile</a>
                    {% block manage_person %}<a class="brand" href="{% url 'manage_main_page' My.pk %}">Manage profile</a>{% endblock %}
                    <a class="brand" href="{% url 'http_loggs_list' %}">Middleware loggs</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hero-unit">
                <div class="container-fluid">
                    <div class="span6">
                        <h4>42 Coffee Cups Test Assignment</h4>
                    </div>
                    <div class="span6 pull-right" style="text-align:right">
                        {% if user.is_authenticated %}
                            <p>You are logged in...</p>
                            <a href='{% url "logout_view" %}'><button class="btn btn-middle btn-primary" type="submit">LogOut</button></a>
                        {% else %}
                            <form action="{% url 'login_view' %}{{request.get_full_path}}" class="form-horizontal" method="post">
                                {% include "form.html" %}
                            </form>
                        {% endif %}
                    </div>
                </div>
        {% block content %}
        {% endblock %}
            </div>
        </div>
    </body>
</html>