{% extends 'base.html' %}
{% block title %}Last requests{% endblock %}
{% block head %}<meta name="description" content="Last requests" />{% endblock %}
{% block manage_person %}{% endblock %}
{% block login %}{% endblock %}
{% block content %}
        <div class="container-fluid">
            <div class="span10">
            <p><h3>First 10 http requests</h3></p>
            <a href='{% url "http_loggs_list" 0 %}'><button class="btn btn-middle btn-primary" type="submit">POST requests</button></a>
            <a href='{% url "http_loggs_list" 1 %}'><button class="btn btn-middle btn-primary" type="submit">GET requests</button></a>
            <table class="table">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>URL</th>
                        <th>Method</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for request in requests %}
                    <tr>
                        <td>{{ request.pk }}</td>
                        <td>{{ request.url }}</td>
                        <td>{{ request.method }}</td>
                        <td>{{ request.time_stamp }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
{% endblock %}