{% extends 'base.html' %}
{% load admin_link %}
{% block title %}View - My profile{% endblock %}
{% block head %}<meta name="description" content="Main Page" />{% endblock %}
{% block link %}<a href="{% admin_link My %}">admin</a>{% endblock %}
{% block PK %}{{ My.pk }}{% endblock %}
{% block content %}
        {% with My as data %}
        {% with align="text-left" %}
        {% include "content.html" %}
        {% endwith %}
        {% endwith %}
        <div class="container-fluid">
            <div class="span10">
                <hr></hr>
            </div>
            <div class="span4">
                <p><a class="brand" href="{% url 'http_loggs_list' 0 %}">Middleware loggs</a></p>
            </div>
        </div>
{% endblock %}