{% extends 'base.html' %}
{% block title %}View - My profile{% endblock %}
{% block head %}<meta name="description" content="Main Page" />{% endblock %}
{% block content %}
<div class="container">
    <div class="hero-unit">
        <div class="container-fluid">
            <div class="span7">
                <h4>42 Coffee Cups Test Assignment</h4>
            </div>
        </div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div class="container-fluid">
                        <div class="span4">
                            <p>Name: {{ My.first_name }}</p>
                        </div>
                        <div class="span4">
                            <p>Last name: {{ My.last_name }}</p>
                        </div>
                        <div class="span4">
                            <p>Date of birth: {{ My.b_date }}</p>
                        </div>
                        <div class="span4">
                            <p>Bio:</p>
                            <p>{{ My.about }}</p>
                        </div>
                    <div>
                </td>
                <td>
                    <div class="container-fluid">
                        <div class="span4">
                            <p>Contacts</p>
                        </div>
                        <div class="span4">
                            <p>Email: {{ My.email }}</p>
                        </div>
                        <div class="span4">
                            <p>Jabber: {{ My.jabber }}</p>
                        </div>
                    <div>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="brand" href="{% block hooks %}requests/{% endblock %}">Middleware loggs</a>
    </div>
</div>
{% endblock %}