.progressC { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.barC { background-color: palevioletred; width:0%; height:32px; border-radius: 3px; }
.percentC { position:absolute; display:inline-block; top:3px; left:48%; }